<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link rel="stylesheet" href="./css/tailwind.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
</head>

<body class="font-sans bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-md mx-auto shadow-lg rounded-lg overflow-hidden bg-white">
            <div class="text-center p-4 border-b border-gray-200">
                <h1 class="text-xl font-bold">Enter New Password</h1>
            </div>
            <form class="px-8 py-4" name="createConfirmPasswordPage" id="createConfirmPasswordPage">
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Create Password</label>
                    <input type="password" id="password" name="password"
                        class="block w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm
                        Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        class="block w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                </div>
                <div>
                    <input type="hidden" name="email" value="<%= email %>" id="email" />
                </div>
                <div class="flex items-center justify-between">
                    <button type="submit"
                        class="px-4 py-2 rounded-md bg-indigo-500 text-white font-bold shadow sm:w-full">Change</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>


<script>
    document.getElementById("createConfirmPasswordPage").addEventListener("submit", async (event) => {
        event.preventDefault();

        let formData = new FormData(event.target);

        let formDataObj = {};

        for (var [key, value] of formData.entries()) {
            formDataObj[key] = value;
        }

        try {
            const data = await fetch('/change-password', {
                method: 'POST',
                body: JSON.stringify(formDataObj),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const response = await data.json();
            console.log(response);

            if (response.success) {
                let url = window.origin + '/login';
                window.location.href = url;
            } else {
                if (response.toast) {
                    let result = await Swal.fire({
                        text: response.message,
                        showCancelButton: true,
                        confirmButtonText: "Activate",
                    });

                    if (result.value) {
                        let url = window.origin + `/verify-email?redirectedAt=login`
                        window.location.href = url;
                    }
                }
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>