<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/tailwind.css">
</head>
<body class="font-sans bg-gray-100" onload="getAllMedicationInfo()">
    <header class="bg-white shadow-md py-4 px-4 flex justify-between items-center">
        <h1 class="text-xl font-bold text-gray-700">Dashboard</h1>
        <div class="flex items-center space-x-4">
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-500 hover:bg-gray-200">Profile</a>
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-red-500 hover:bg-gray-200">Logout</a>
        </div>
    </header>
  
    <main class="container mx-auto px-4 py-8 flex h-screen">
        <aside class="w-64 bg-white shadow-md rounded-lg p-4 flex flex-col overflow-y-auto">
            <span href="#" class="text-lg font-medium text-gray-700 hover:text-indigo-500 active" id="home-link">Home</span>
            <span href="#" class="text-lg font-medium text-gray-700 hover:text-indigo-500" id="add-medication-link">Add Medication</span>
            <span href="#" class="text-lg font-medium text-gray-700 hover:text-indigo-500" id="report-generation-link">Report Generation</span>
        </aside>
    
        <div id="main-content" class="flex-grow px-4 bg-white shadow-md rounded-lg p-4 overflow-auto">
            <div id="content-container">
                
            </div>  
        </div>
    </main>
</body>
</html>

<script src="/js/home.script.js"></script>
