<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/tailwind.css">
    <style>
        .active {
            color: rgb(99 102 241);
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
</head>

<body id="<%= user.id %>" class="font-sans bg-gray-100" onload="getAllMedicationInfo()">
    <header class="bg-white shadow-md py-2 px-4 flex justify-between items-center">
        <h1 class="text-xl font-bold text-gray-700">Dashboard</h1>
        <div class="flex items-center space-x-4">
            <div
                class="flex items-center px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-500 hover:bg-gray-200">
                <img class="rounded-full" src="<%= user.profile_img_url %>" height="50px" width="50px"
                    alt="profile image">
                <p class="px-1">
                    <%= user.first_name %>
                        <%= user.last_name %>
                </p>
            </div>
            <!-- <span onclick="trial()"
                class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-500 hover:bg-gray-200">Profile</span> -->

            <div class="relative inline-block text-left">
                <button onclick="toggleDropdown()"
                    class="inline-flex justify-center w-full px-4 py-2 bg-gray-800 text-sm font-medium text-white">
                    Logout Options
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="dropdown"
                    class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                    <div class="py-1">
                        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
                        <a href="/logout-all-devices"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout from all devices</a>
                        <span onclick="logoutFromOtherDevicesHandler()"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout from other
                            devices</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container mx-auto px-4 py-8 flex h-screen">
        <aside id="aside_section" class="mr-4 w-64 bg-white shadow-md rounded-lg p-4 flex flex-col overflow-y-auto">
            <span class="text-lg font-medium text-gray-700 hover:text-indigo-500 active" id="home-link">Home</span>
            <span class="text-lg font-medium text-gray-700 hover:text-indigo-500" id="add-medication-link">Add
                Medication</span>
            <span class="text-lg font-medium text-gray-700 hover:text-indigo-500" id="report-generation-link">Report
                Generation</span>
            <span class="text-lg font-medium text-gray-700 hover:text-indigo-500" id="add-data-using-csv-link">Add data using csv</span>
        </aside>

        <div id="main-content" class="flex-grow px-4 bg-white shadow-md rounded-lg p-4 overflow-auto">
            <div id="content-container">

            </div>
        </div>
    </main>
</body>

</html>

<!-- view model -->
<div id="medicineViewModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
        <div class="flex justify-between items-center border-b pb-3">
            <h3 class="text-lg font-semibold">Medicine Information</h3>
            <button class="text-gray-600 hover:text-gray-900" onclick="closeModal('medicineViewModal')">&times;</button>
        </div>
        <div class="mt-4">
            <p><strong>Name:</strong> <span id="medicineName"></span></p>
            <p><strong>Description:</strong> <span id="medicineDescription"></span></p>
            <p><strong>Type:</strong> <span id="medicineType"></span></p>

            <div id="oneTime">
                <p><strong>One Time Date:</strong> <span id="one_time_date"></span></p>
            </div>
            <div id="recurring">
                <p><strong>Start Date:</strong> <span id="start_date"></span></p>
                <p><strong>End Date:</strong> <span id="end_date"></span></p>
            </div>
            <div id="weekly">
                <p><strong>Day Of The Week:</strong> <span id="day_of_week"></span></p>
            </div>
            <p><strong>time:</strong> <span id="time"></span></p>
            <p><strong>created at:</strong> <span id="created_at"></span></p>
        </div>
        <div class="mt-4 text-right">
            <button class="bg-red-500 text-white px-4 py-2 rounded"
                onclick="closeModal('medicineViewModal')">Close</button>
        </div>
    </div>
</div>

<!-- edit model -->
<div id="medicationEditModel" aria-hidden="true"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg overflow-y-auto h-[75vh]">
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Update Product
                </h3>
                <button onclick="closeModal('medicationEditModel')" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form id="updateMedicationForm" onSubmit="updateHandler(event)">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="medicationName">Medication
                        Name</label>
                    <input type="text" name="medicationName" id="medicationName"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <span class="hidden text-red-500" id="medicationName_error"></span>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Description</label>
                    <textarea id="description" name="description"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                    <span class="hidden text-red-500" id="description_error"></span>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="type">Reminder Type</label>
                    <select id="type" name="type"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        onchange="toggleFields()">
                        <option value="">Select Type</option>
                        <option value="oneTime">One Time</option>
                        <option value="recurring">Recurring</option>
                    </select>
                    <span class="hidden text-red-500" id="type_error"></span>
                </div>
                <div id="oneTimeFields" class="hidden">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="oneTimeDate">Date</label>
                        <input type="date" name="oneTimeDate" id="oneTimeDate"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <span class="hidden text-red-500" id="oneTimeDate_error"></span>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="oneTimeTime">Time</label>
                        <input type="time" name="oneTimeTime" id="oneTimeTime"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <span class="hidden text-red-500" id="oneTimeTime_error"></span>
                    </div>
                </div>
                <div id="recurringFields" class="hidden">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="recurringType">Recurring
                            Type</label>
                        <select id="recurringType" name="recurringType"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            onchange="toggleRecurringFields()">
                            <option value="">Select Recurring Type</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                        </select>
                        <span class="hidden text-red-500" id="recurringType_error"></span>
                    </div>
                    <div id="dailyFields" class="hidden">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="dailyStartDate">Start
                                Date</label>
                            <input type="date" name="dailyStartDate" id="dailyStartDate"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <span class="hidden text-red-500" id="dailyStartDate_error"></span>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="dailyEndDate">End
                                Date</label>
                            <input type="date" name="dailyEndDate" id="dailyEndDate"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <span class="hidden text-red-500" id="dailyEndDate_error"></span>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="dailyTime">Time</label>
                            <input type="time" name="dailyTime" id="dailyTime"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <span class="hidden text-red-500" id="dailyTime_error"></span>
                        </div>
                    </div>
                    <div id="weeklyFields" class="hidden">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="weeklyStartDate">Start
                                Date</label>
                            <input type="date" name="weeklyStartDate" id="weeklyStartDate"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <span class="hidden text-red-500" id="weeklyStartDate_error"></span>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="weeklyEndDate">End
                                Date</label>
                            <input type="date" name="weeklyEndDate" id="weeklyEndDate"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <span class="hidden text-red-500" id="weeklyEndDate_error"></span>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="weeklyTime">Time</label>
                            <input type="time" name="weeklyTime" id="weeklyTime"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <span class="hidden text-red-500" id="weeklyTime_error"></span>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="dayOfWeek">Day of the
                                Week</label>
                            <select id="dayOfWeek" name="dayOfWeek"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option value="">select day of the week</option>
                                <option value="sunday">Sunday</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">Thursday</option>
                                <option value="friday">Friday</option>
                                <option value="saturday">Saturday</option>
                            </select>
                            <span class="hidden text-red-500" id="dayOfWeek_error"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="medicationId" value="" id="medicationId">
                <div class="flex items-center justify-between">
                    <button
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/toast.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.script.js"></script>

<script>
    function toggleDropdown() {
        document.getElementById("dropdown").classList.toggle("hidden");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.inline-flex')) {
            var dropdowns = document.getElementsByClassName("absolute");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (!openDropdown.classList.contains('hidden')) {
                    openDropdown.classList.add('hidden');
                }
            }
        }
    }

    function trial() {
        Swal.fire({
            title: "The Internet?",
            text: "That thing is still around?",
            type: "question"
        });
    }
</script>

