<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="./css/tailwind.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
</head>
<body>
    <body class="font-sans bg-gray-100">
        <div class="container mx-auto px-4 py-8">
          <div class="max-w-md mx-auto shadow-lg rounded-lg overflow-hidden bg-white">
            <div class="text-center p-4 border-b border-gray-200">
              <h1 class="text-xl font-bold">Verify OTP</h1>
            </div>
            <form class="px-8 py-4" name="verifyOtpForm" id="verifyOtpForm">
              <div class="mb-4">
                <label for="otp" class="block text-sm font-medium text-gray-700">Enter 6-digit OTP</label>
                <div class="flex space-x-4" id="otp">
                  <input type="text" id="otp_1" name="otp[]" maxlength="1" class="w-10 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                  <input type="text" id="otp_2" name="otp[]" maxlength="1" class="w-10 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                  <input type="text" id="otp_3" name="otp[]" maxlength="1" class="w-10 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                  <input type="text" id="otp_4" name="otp[]" maxlength="1" class="w-10 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                  <input type="text" id="otp_5" name="otp[]" maxlength="1" class="w-10 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                  <input type="text" id="otp_6" name="otp[]" maxlength="1" class="w-10 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:ring-1">
                </div>
                <span id="otp_error" class="text-red-500 hidden"></span>
              </div>
              <div>
                <input type="hidden" name="redirectedAt" value='<%= redirectedAt %>' id="redirectedAt" />
              </div>
              <div class="flex items-center justify-between">
                <button type="submit" class="px-4 py-2 rounded-md bg-indigo-500 text-white font-bold shadow sm:w-full">Verify</button>
              </div>
            </form>
          </div>
        </div>
    </body>
</body>
</html>

<script src="/js/verifyOtp.script.js"></script>